@require '~vuepress-plugin-tabs/dist/themes/default.styl'

// placeholder for test, dont't remove it.

//.content {
//  font-size 30px;
//}

pre.vue-container
  border-left-width: .5rem;
  border-left-style: solid;
  border-color: #42b983;
  border-radius: 0px;
  & > code
    font-size: 14px !important;
    & > p
      margin: -5px 0 -20px 0;
    code
      background-color: #42b983 !important;
      padding: 3px 5px;
      border-radius: 3px;
      color #000
    em
      color #808080
      font-weight light

      
.btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.primaryBtn {
  background-color: #037dd6;
}

.greenBtn {
  background-color: #4caf50;
}

html,
body {
  background-color: #d3dbdf;
}

.sidebar {
  background-color: #e3e7e9;
  border-right: 2px solid #bbc5ca;
}

.navbar {
  background: linear-gradient(105deg, rgb(137,16,67) 0%, rgb(15,43,70) 25%, rgb(31,35,38) 50%);

  .site-name,
  nav.nav-links a {
    color: white !important;
  }

  .links {
    background-color: rgb(31,35,38)  !important;
  }
}

ul li:not(.sidebar-sub-header) > a.sidebar-link.active {
  background: #333a3e;
  color: white !important;
  border-left: none;
  position: relative;
  width: calc(100% - 32px);

  &:after {
    content: '';
    position: absolute;
    right: -32px;
    top: 0;
    width: 32px;
    height: 100%;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: inherit;
  }
}
